/*! Pushy - v1.4.0 - 2020-12-28
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #191918;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}

.pushy a {
  display: block;
  color: var(--global-text-color);
  padding: 22px 34px;
  text-decoration: none;
  font-size: inherit;
}

.pushy a:hover {
}

.pushy ul:first-child {
  margin-top: 10px;
}

.pushy.pushy-left {
  left: 0;
}

.pushy.pushy-right {
  right: 0;
}

.pushy-content {
  visibility: hidden;
}

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible;
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
}

/* Remove any focus outlines */
.pushy-btn:focus,
.pushy-link a:focus,
.pushy-content input:focus,
.site-overlay:focus {
  outline: none;
  box-shadow: none;
}

/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */
}

.pushy-submenu > ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.pushy-submenu > ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}

.pushy-submenu button {
  font-size: inherit;
  width: 100%;
  color: var(--global-text-color);
  padding: 22px 34px;
  text-align: left;
  background: transparent;
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pushy-submenu button:hover {
  /*color: #FFF;*/
}

.pushy-submenu > a,
.pushy-submenu > button {
  position: relative;
}

.pushy-submenu > a::after,
.pushy-submenu > button::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("../img/arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed > ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-submenu-open {
  /* Submenu Icon */
}

.pushy-submenu-open > ul {
  max-height: 1000%;
  visibility: visible;
}

.pushy-submenu-open .pushy-link {
  opacity: 1;
}

.pushy-submenu-open > a::after,
.pushy-submenu-open > button::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

.pushy-arrow {
  transition: transform 0.2s;
}

.pushy-link-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pushy-link-icon {
  margin-left: auto;
}

/* Remove any focus outlines */
.pushy-btn:focus,
.pushy-link a:focus,
.pushy-content input:focus,
.site-overlay:focus {
  outline: none;
  box-shadow: none;
}