<div class="ff-shell">
  {% render 'ff-site-nav', variant: 'landing' %}
</div>

{% schema %}
{
  "name": "FF Home",
  "settings": [],
  "presets": [
    {
      "name": "FF Home"
    }
  ]
}
{% endschema %}
