<section class="ff-site">
  <div class="ff-wrap ff-wrap--home">
    {% render 'ff-min-nav', active: 'home', class: 'ff-header--home' %}
  </div>
</section>

{% schema %}
{
  "name": "FF Minimal Home",
  "settings": [],
  "presets": [
    {
      "name": "FF Minimal Home"
    }
  ]
}
{% endschema %}
