{% comment %} <p style="color:{{ section.settings.color }}" class="paragraph-2">{{ section.settings.message }}</p>
<label style="color:{{ section.settings.title-color }}" for="pass" class="field-label w-password-page">{{ 't4c641ebb' | t }}</label> {% endcomment %}

